#maindiv{
    background-color: rgb(160,160,160,0.5);
    border-radius: 25px;
    border-width: 20px;
    position: fixed;
    top: 130px;
    left: 200px;

    width: 1100px;
    height: 600px;
}
#profilephoto{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    top: 20px;
    left: 30px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 24px 100px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    position: relative;
    top: 25px;
    left: 40%;
}

/* 鼠标悬停时背景变暗 */
.btn:hover {
    background-color: RoyalBlue;
}

#tiaokuan{
    position: relative;
    left: 25px;
}
.button {
 display: inline-block;
    position: absolute;
    top: 85%;
    left: 40%;
 border-radius: 25px;
 border: none;
 background: #1875FF;
 color: white;
 font-family: inherit;
 text-align: center;
 font-size: 15px;
 box-shadow: 0px 14px 56px -11px #1875FF;
 width: 15em;
 padding: 1em;
 transition: all 0.4s;
 cursor: pointer;
}

.button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.4s;
}

.button span:after {
 content: 'for free';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.7s;
}

.button:hover span {
 padding-right: 3.55em;
}

.button:hover span:after {
 opacity: 4;
 right: 0;
}