{% extends 'base.html' %}

{% block title %}
    Mc整合包-联系我们
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/indexcss.css">
    <link rel="stylesheet" href="/static/css/chatroom_login.css">
    {% if nowpage == 'chatroom' %} <!-- 标红显示当前位置 -->
        <style>
            #lianxiwomen{
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
            }
        </style>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="loginBox">
        {% if reg == 0 %}
            <p style="position: relative;top: 0;left: 35%;font-weight: bold;">欢迎注册</p>
        {% elif reg == 1%}
            <p style="position: relative;top: 0;left: 35%;font-weight: bold;">账号已存在</p>
        {% endif %}
        <form action="" method="post">
            <br>
            <div  class="usernamebox">
            <input type="text" placeholder="Username" name="username" class="logininputBox">
            </div>
            <br>
            <div  class="passwordbox">
            <input type="password" placeholder="Password" name="password" class="logininputBox">
            </div>
            <br>
            <input type="submit" value="注册" class="btn">
        </form>
        <button data-text="Awesome" class="regbutton" onclick='location.href=("chatroom_login")'>
            <span class="actual-text">&nbsp;Log in&nbsp;</span>
            <span class="hover-text" aria-hidden="true">&nbsp;Go&nbsp;</span>
        </button>
    </div>

{% endblock %}