{% extends 'base.html' %}

{% block title %}
    Mc整合包-下载
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/indexcss.css">
    {% if nowpage == 'download' %} <!-- 标红显示当前位置 -->
        <style>
            #xiazai{
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
            }
        </style>
    {% endif %}
{% endblock %}


{% block body %}
        <div id="profilephoto">
            <a href="https://github.com/huangchenbo/Microsites-Python-Flask-" style="width: 100px;height: 100px">
                <img src="/static/githubprofilephoto.png" alt="" width=100px height=100px title="点我跳转至github主页">
            </a>
        </div>

        <h1 style="text-align: center;position: relative;top: -80px">下载地址</h1>
        <div>
            <h1 style="text-indent: 2em">感谢下载，祝你使用愉快，下载视为同意本站相关条款！</h1>
        </div>
        <iframe id="tiaokuan" title="服务条款" width="1050" height="240" src="../static/mianze.html">

        </iframe>
        <button class="button" style="vertical-align:middle">
{#            <img src="/static/ICON/DownloadICON.png" alt="" style="width: 20px;height: 20px">下载#}
            <span><img src="/static/ICON/DownloadICON.png" alt="" style="width: 20px;height: 20px">下载</span>
        </button>


{% endblock %}