{% extends "base.html" %}

{% block title %}
    Mc整合包-主页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/indexcss.css">
    {% if nowpage == 'index' %} <!-- 标红显示当前位置 -->
        <style>
            #zhuye{
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
            }
        </style>
    {% endif %}
{% endblock %}


{% block body %}
        <div id="profilephoto">
            <a href="https://github.com/huangchenbo/Microsites-Python-Flask-" style="width: 100px;height: 100px">
                <img src="/static/githubprofilephoto.png" alt="" width=100px height=100px title="点我跳转至github主页">
            </a>
        </div>
        <h1 style="text-align: center;position: relative;top: -80px">微发布</h1>
    <p style="text-indent:2em;"><b>点击头像底部可跳转Github项目地址</b>,<br><q>此网站基于Flask+Jinja2制作，使用语言为Python+Html+CSS，本用以自身软件发布使用，今上传至github供广大用户使用。并且不断的保持着更新，完善，力求给大家带来更好的作品!</q></p>
{% endblock %}