{% extends 'base.html' %}

{% block title %}
    Mc整合包-详情
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/indexcss.css">
    {% if nowpage == 'info' %} <!-- 标红显示当前位置 -->
        <style>
            #jieshao{
                box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
            }
        </style>
    {% endif %}
{% endblock %}


{% block body %}
        <div id="profilephoto">
            <a href="https://github.com/huangchenbo/Microsites-Python-Flask-" style="width: 100px;height: 100px">
                <img src="/static/githubprofilephoto.png" alt="" width=100px height=100px title="点我跳转至github主页">
            </a>
        </div>

        <h1 style="text-align: center;position: relative;top: -80px">Micro-publishing</h1>
        <p style="text-indent:2em;">Micro-publishing内容介绍，图片采用position: relative;即可</p>
{% endblock %}